@media (max-width: 768px) {
  .builtwithelm-Container {
    flex-direction: column;
  }
  .builtwithelm-Sidebar {
    position: static;
    height: auto;
    width: auto;
  }
  .builtwithelm-Logo {
    display: block;
    max-width: 33%;
    margin: 0 auto;
  }
  .builtwithelm-Content {
    margin-left: auto;
    width: auto;
  }
  .builtwithelm-SidebarHeader {
    flex-direction: row;
    padding-bottom: 20px;
    border-bottom: 1px solid #999999;
  }
  .builtwithelm-SidebarLogoContainer {
    flex: 1;
    max-width: 40%;
  }
  h1 {
    flex: 1;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2em;
    padding-bottom: 0;
  }
  .builtwithelm-Logo {
    margin: 0;
    max-width: 100%;
  }
}
