body {
    margin: 0px;
    height: 100%;
}

nav {
    display: inline-block;
    padding-bottom: 12px;
}

.builtwithelm-Button {
    font-family: Helvetica;
    font-size: 1.6em;
    font-weight: 400;
    color: #5cb5cd;
    background-color: rgb(255, 255, 255);
    border-width: 2px;
    border-style: solid;
    border-color: #e5e5e5;
    margin: 1px;
    border-radius: 5px;
    padding: 3px;
    flex-basis: 50%;
    outline: 0px;
    cursor: pointer;
}

.builtwithelm-Button:disabled {
    color: #e5e5e5;
}

.builtwithelm-Container {
    display: flex;
    height: 100%;
    position: relative;
    font-family: Source Sans Pro;
}

.builtwithelm-Sidebar {
    width: 240px;
    height: 100%;
    padding: 20px;
    position: fixed;
}

.builtwithelm-Content {
    margin-left: 240px;
    width: calc(100% - 240px);
    padding-top: 20px;
    padding-right: 0px;
    padding-bottom: 20px;
    padding-left: 0px;
}

.builtwithelm-ListContainer {
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 20px;
    max-width: 920px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
}

.builtwithelm-Paging {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 40%;
    margin: auto;
}

.builtwithelm-Link {
    color: inherit;
}

.builtwithelm-GithubLogo {
    width: 2em;
}

.builtwithelm-Project {
    margin-bottom: 40px;
}

.builtwithelm-ProjectHeader {
    display: flex;
    justify-content: space-between;
}

h2 {
    margin: 0px;
}

.builtwithelm-ProjectScreenshotShell {
    background-image: url(screenshot_shell.svg);
    background-size: contain;
    max-width: 1040px;
    max-height: 850px;
    padding: 1.875%;
    padding-top: 2.875%;
    background-repeat: no-repeat;
}

.builtwithelm-ProjectImage {
    width: 100%;
}

h1 {
    font-weight: normal;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #999999;
}

.builtwithelm-SidebarHeader {
    display: flex;
    flex-direction: column;
}

a {
    color: inherit;
}

p {
    text-align: justify;
}

.builtwithelm-BuiltWithText {
    color: #999999;
}

.builtwithelm-BuiltWithLink {
    text-decoration: none;
}

.builtwithelm-SubmitProject {
    border-bottom: 1px solid #999999;
    margin-bottom: 20px;
}

.builtwithelm-SubmitProjectHeader {
    text-align: center;
}

.builtwithelm-BuiltBy {
    font-size: 0.9em;
}
