body, html { margin: 0; height: 100%; }
* { box-sizing: border-box; }

.container {
  display: flex;
  height: 100%;
  position: relative;
  font-family: "Source Sans Pro";
}

.sidebar {
  width: 240px;
  height: 100%;
  padding: 20px;
  position: fixed;
}

.content {
  margin-left: 240px;
  width: calc(100% - 240px);
  padding: 20px 0;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .sidebar {
    position: static;
    height: auto;
    width: auto;
  }
  .logo {
    display: block;
    max-width: 33%;
    margin: 0 auto;
  }
  h1 {
  }
  .content {
    margin-left: auto;
    width: auto;
  }
}
